* {
    color: #FFFFFF;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    background-color: #990005;
    padding: 2.2% 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container img {
    align-self: center;
    margin: 1.6% 0 0 1.8%;
}

.vertical-line {
    display: flex;
    border-left: 3px solid #000000;
    height: 153px;
    margin: 1% 5.5% 0 7%;
}

.content {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
}

.address,
.opening-hours {
    width: 30%;
    flex-shrink: 0;
    margin-right: 12%;
    margin-bottom: 37px;
}

.title-of-details {
    font-family: 'Syne', sans-serif;
    font-size: 1.063rem;
    margin-bottom: 3%;
}

.content-details {
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
}

<<<<<<< HEAD
.content-details,
.title-of-details {
    margin-bottom: 3%;
}

.opening-hours,
.address {
    margin-bottom: 37px;
}

.footer-container img {
    margin: 1.6% 0 0 1.8%;
}

.vertical-line {
    margin: 1% 5.5% 0 7%;
}
=======
.copyright {
    width: 112%;
    margin-bottom: 2%;
}


>>>>>>> 940cd776bde42f29b8608d5d3788197b0ed4d563
