* {
    color: #FFFFFF;
    font-family: 'Syne', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: nowrap;
}

.menu-bar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    background-color: #000000;
    padding: 1% 2%; 
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.menu-links ul {
    width: 100%;
    display: flex;
    list-style: none;
}

.menu-links li {
    display: flex;
    margin-left: 130px;
}

.menu-links a:hover {
    color: #990005;
}